PORT=3000
NODE_ENV=development

# Database
DB_HOST=localhost
DB_USER=root
DB_PASS=yourpassword
DB_NAME=dimsum_db

# Security
JWT_SECRET=use-a-long-random-string-here
JWT_EXPIRES_IN=7d

# Business Config
MAX_FILE_SIZE=2000000 # 2MB


MIDTRANS_SERVER_KEY=your_server_key_here
MIDTRANS_CLIENT_KEY=your_client_key_here
MIDTRANS_IS_PRODUCTION=false